:root {
  --background-color: #fcfaf9;
  --color-primary: #ffe390;
  --container-padding: 24px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

// Avoid image exceeding parent width
img {
  max-width: 100%;
}

.text--body {
  font-size: 16px;
  line-height: 1.6;
}
